:root {
    --primary-text-color: #212121;
    --color-white: #FFFFFF;
    --text-color: #757575;
    --accent-color: #2196F3;
    --background-color-primary: #2F303A;
    --background-color: #F5F5F5;
    --background-color-sekondary: #F5F4FA;
} 

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}
/* колір основного тексту #212121*/

/* вторинний колір тексту rgba(117, 117, 117, 1) */

/* білий #FFFFFF */
/* акцент #2196F3 */
/* вторинний колір фона #F5F4FA */
/* колір контактів #757575 */

.logo .logo-web {
    color: var(--accent-color);
}
.logo .logo-web:hover,
.logo .logo-web:focus {
    color: var(--primary-text-color);
}

.logo .logo-studio {
    color: #000000;
}

.logo .logo-studio:hover,
.logo .logo-studio:focus {
    color: var(--accent-color);
}

.site-nav .link {
    color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.nav .item {
    color: var(--text-color);
}

.nav .item:hover,
 .nav .item:focus {
    color: var(--accent-color);
}

/* Стилі для index.html */

/* Hero */

.hero-title {
    color: var(--color-white);
    background-color: var(--background-color-primary);
}

.button {
    color: var(--color-white);
    background-color: var(--accent-color);
 
}

.button:hover,
 .button:focus {
    color: var(--color-white);
    background-color: #188CE8;
}

/* Section Переваги */

.section-title {
    color: var(--primary-text-color);
}

.subtitle {
    color: var(--text-color);
}

/* Section Що робимо */

.work-title {
    color: var(--primary-text-color);
}

/* Section Наша команда */

.team-title {
    color: var(--primary-text-color);
}

.title {
    color: var(--primary-text-color);
}

.subtitle {
    color: var(--text-color);
}

/* Futer */

.nav .items {
    color: var(--color-white);
}

.nav .items:hover,
.nav .items:focus {
    color: var(--accent-color);
}






/* Стилі для portfolio.html */

/* Кнопки навігації */

.button {
    color: var(--primary-text-color);
    background-color: var(--background-color-sekondary);
}

.button:hover,
.button:focus {
    color: var(--color-white);
    background-color: var(--accent-color);
}

/* Наші проекти */

.aside-subject {
    color: var(--primary-text-color);
}

.subject {color: var(--text-color);
}